In [7]:
import pandas as pd
import sys
sys.path.append('..')
sys.path.append('../..')
sys.path.append('../../..')
from helpers.focusmate import fm_sessions_data_to_df
from sample_data.sessions import sample_sessions

In [8]:
local_timezone = "America/New_York"

In [9]:
sessions = fm_sessions_data_to_df(sample_sessions, local_timezone)

In [10]:
daily_streak = 0

In [18]:
sessions['start_time_date'] = sessions['start_time'].dt.date

yesterday = (pd.Timestamp.today() -
              pd.Timedelta(days=1)).date()

full_date_range = pd.date_range(
    start=sessions['start_time_date'].min(), end=yesterday)

# TODO: update index.py with this code
full_date_range_dates = [date.date() for date in full_date_range]

dates_set = set(sessions['start_time_date'])

for date in reversed(full_date_range_dates):
    print(type(date))
    print(type(next(iter(dates_set))))
    print(date in dates_set)
    if date in dates_set:
        daily_streak += 1
    else:
        break

<class 'datetime.date'>
<class 'datetime.date'>
True
<class 'datetime.date'>
<class 'datetime.date'>
True
<class 'datetime.date'>
<class 'datetime.date'>
True
<class 'datetime.date'>
<class 'datetime.date'>
False

In [13]:
sessions.head()

,session_id,duration,start_time,requested_at,joined_at,completed,session_title,partner_id,start_time_date
0,9b6140bd-f2e3-44ef-8903-26834373e6c8,3000000,2024-06-01 14:15:00,2024-05-30 14:12:15.120065,2024-05-30 14:12:33.261514,True,,b4bc6097-4040-4ad6-a532-b211e2a1b314,2024-06-01
1,a6563e8b-9a87-4ba9-9dd8-20da30c2b502,3000000,2024-06-01 09:15:00,2024-05-30 09:05:47.092976,2024-05-30 09:13:52.917311,True,,70a2fedf-1079-4f0e-b893-8b26067a0bc2,2024-06-01
2,0e98d262-d3fd-4cca-9a58-47a239f8e639,3000000,2024-05-31 08:15:00,2024-05-26 10:33:07.137416,2024-05-30 08:12:48.786790,True,,fde6e2d1-df8e-4cc7-86fd-4f5a7a9f61b6,2024-05-31
3,dc5257dc-7e68-4ff9-a1c7-652af49216a8,3000000,2024-05-30 07:15:00,2024-05-26 10:33:03.998848,2024-05-30 07:14:57.723435,True,,70a2fedf-1079-4f0e-b893-8b26067a0bc2,2024-05-30
4,1e02bca9-cbdc-4d3d-a6ed-59a764e121d1,3000000,2024-05-28 08:15:00,2024-05-26 10:33:06.061438,2024-05-29 08:16:02.665237,True,,62c5fa49-4494-4ef0-b2d7-b07de37d27b8,2024-05-28

In [19]:
print(yesterday)
print(full_date_range)
print(dates_set)
print(daily_streak)

2024-06-01
DatetimeIndex(['2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-01'],
              dtype='datetime64[ns]', freq='D')
{datetime.date(2024, 6, 1), datetime.date(2024, 5, 31), datetime.date(2024, 5, 30), datetime.date(2024, 5, 28)}
3